<div class="md-padding" style="width: 100%; padding: 3px 0px 0px 0px;"
	id="popupContainer" ng-controller="LoginController">
	<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
	<form ng-cloak name="myForm">
		<center>
			<table>
				<div class="container-fluid mainDivHeaderClass">
					<div class="row">
						<div class="col-lg-12">
							<p align="center" class="col-xs-11"
								style="vertical-align: middle; font-weight: bold; font-size: 30px;">Employee
								Details</p>
							<p align="right" class="col-xs-1"
								style="vertical-align: middle; font-weight: bold; font-size: 1.5em; margin-top: 8px; cursor: pointer;">
							</p>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<br />

  <tr>
  <th>EmailId</th>
    <th>EmpFirstName</th>
    <th>EmpLastName</th>
    <th>MobileNo</th>
    <th>Role</th>
    <th>Project</th>
  </tr>
  
  
 
 
</table>
</center>
</form>
</div>
</body>